*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Lato;
}

body{
    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 5% 0%;
    background: #70D06E;
    background-image: linear-gradient(360deg, #70D06E 13.7%, rgba(136, 255, 149, 0.71) 85.22%);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: 120%;
    -o-background-size: cover;
    background-position-y: center;
}

.splash{
    display: block;
    position: absolute;
    width: 100vw;
    height: 100vh;
    margin-top: -5%;
    background: black;
    color: #67E870
    ;
    z-index: 200;
}

.splash .txtSplash{
    position: inherit;
    font-weight: 300;
    letter-spacing: 1.5px;
    max-width: 500px;
    min-width: 100px;
    top: 50%;
    left: 50%;
    transform: translate(-100px, -60px);
}

.animaSplash{
    transform: translateX(500px);
    opacity: 0;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: black;
    color: white;
    transition: all 1s;
    z-index: -200;
    
}
.fade-in{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 600px;
    transform: translateX(-40px);
    opacity: 0;
    animation: fadein 1s ease-in-out forwards;
    
}

.fade-in h1{
    font-weight: 300;
    line-height: 40px;
}

.splash img{
    width: 180px;
    margin-top: 3px;
    margin-left: 10px;
}

header{
    width: 100%;
    
    padding: 10px 30px 10px 30px;
    text-align: center;
}

header img{
    width: 200px;
    margin: 10px 10px;
}
header h2{
    margin: 10px 0px;
}

main{
    position: relative;
    
    padding: 10%;
    text-align: center;
    
    
}

input::-webkit-inner-spin-button, input::-webkit-outer-spin-button{
    -webkit-appearance: none;
}

input[type="number"]{
    -moz-appearance: textfield;
}

.cards{
    position: relative;
    max-width: 600px;
    min-width: 150px;
    /*top: 50%;
    left: 50%;
    transform: translate(-130px, -180px);*/
    margin: 0% 20%;
    padding: 20px;
    display: block;
    marginbottom: 90px;
    background: white;
    border-radius: 5px;
    box-shadow: 5px 3px 10px rgba(0,0,0, .4);
    display: none;
    transition: all .5s;
    opacity: 0;
    animation: aparecer 1s ease-in-out forwards;
}

.cards h2{
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 2px;
}

.cards .inputsCard{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 20px;
    
}

.cards .inputsCard input{
    background: none;
    border: none;
    border-bottom: 3px #67e870 solid;
    outline: none;
    margin-bottom: 20px;
    padding: 3px 5px;
    letter-spacing: 1.5px;
}

.cards .inputsCard button{
    font-family: lato;
    font-size: 16px;
    font-weight: 800;
    letter-spacing: 2;
    outline: none;
    width: 110px;
    margin: 0px 5px;
    text-align: center;
    padding: 5px 19px;
    background: #88FF95;
    border: none;
    border-radius: 3px;
    box-shadow: 2px 2px 7px rgba(0,0,0, .4);
}

.activeCard{
    display: block;
}

.results{
    position: absolute;
    width: 80vw;
    padding: 5%;
    top: 50%;
    left: 50%;
    transform: translate(-40vw, 35px);    
    background: white;
    border-radius: 5px;
    box-shadow: 5px 3px 10px rgba(0,0,0, .4);
    z-index: 10;
    display: none;
    opacity: 0;
    animation: aparecer 1s ease-in-out forwards;
}

.results h1{
    text-align: center;
    font-weight: 700;
}

.txtHTrabalho{
    margin: 15px;
    
}



.tabelaResults{
    border-collapse: collapse;
    margin: 0 auto;
    min-width: 100px;
    
    
}

.tabelaResults thead tr{
    background: #88FF95;
    text-align: left;
    font-weight: bold;
    
}

.tabelaResults th, .tabelaResults td{
    padding: 12px 15px;
}

.tabelaResults tbody tr{
    border-bottom: 1.5px solid #ddd;
}

.tabelaResults tbody tr:nth-of-type(even){
    background: #f3f3f3;
}

.tabelaResults tbody tr:last-of-type{
    border-bottom: 3px solid #88FF95;
}

.tabelaResults tbody td{
    position: relative;
}

.tabelaResults tbody td span{
    text-align: right;
}


.conclusoes{
    margin: 20px 0px 0px 0px;
}

.conclusoes div{
    margin: 5px 10px;
}




@keyframes fadein{
    to{
        transform: translateX(0px);
        opacity: 1;
        
    }
}

@keyframes aparecer {
    to{
        opacity: 1;
    }
}



@media (max-width: 1100px) {
    body{
        overflow-x: hidden;
    }
    .cards{
        margin: -10% 0%;
    }

    .results{
        margin-top: 20px;
        margin-bottom: 60px;
    }    
}

@media (min-width: 1100px) {
    .cards{
        margin: -10% 30%;
    }

    .results{
        transform: translate(-40vw, -40px);
        margin-bottom: 60px;
    }    
}

@media (min-width: 800px) {
    .splash .txtSplash{
        transform: translate(-250px, -80px);
    }
}


